body {
    background-color:#151C24;
    font-family: "Roboto", sans-serif;
    color: white
  }

.center {
    text-align: center;
  }

.logo {
    display: block;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

.logoMaze {
    display: block;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60px;
    min-width: 40px;
  }  

.form {
    margin-top: 36px;
    line-height: 2.5;
    font-weight: bold;
  }

.journal {
    text-align: center;
    color: gray;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    line-height: 2;
    width: 35%;
  }

.journal:hover {
    text-align: center;
    color: white;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    line-height: 2;
    width: 35%;
}

.journalDecoded {
  text-align: center;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  line-height: 2;
  width: 35%;
  word-break: keep-all;
}

  
a:link {
    color: white;
    text-decoration: none;
  }
  
a:visited {
    color: white;
    text-decoration: none;
  }
  
a:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }


@media screen and (max-width:768px) {
  
  .center {
    text-align: center;
    line-height: 2;
    max-width: 90%;
  }

  .journal {
    text-align: center;
    color: gray;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    line-height: 2;
    width: 85%;
  }

.journal:hover {
    text-align: center;
    color: white;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    line-height: 2;
    width: 85%;
}

.journalDecoded {
  text-align: center;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  line-height: 2;
  width: 85%;
  word-break: keep-all;
}

}